@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

$main-color: rgb(118, 0, 0); // 深紅色
$second-color: rgb(6, 47, 91); // 深青色
$third-color: rgb(6, 47, 91); // 柔和金色
$fourth-color: rgb(245, 245, 245); // 淺灰白色
$fifth-color: rgb(255, 191, 191); // 亮珊瑚紅

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", "Source Sans Pro", sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

p {
    text-indent: 2.5rem;
}

h3 {
    font-family: "Noto Serif TC", "Noto Sans TC", "Source Sans Pro", sans-serif;
    font-weight: 600;
}

nav {
    background-color: $main-color;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    color: #fff;

    div.head-title {
        font-family: "Noto Serif TC", "Noto Sans TC", "Source Sans Pro", sans-serif;
        font-weight: 600;
        width: 100%;
        font-size: 1.5rem;

        div.small {
            font-family: "Noto Sans TC", "Source Sans Pro", sans-serif;
            font-weight: 500;
            font-size: 1rem;
            color: #dfdfdf;
        }
    }

    button.menu {
        display: none;
        padding: 0;
        background: none;
        border: none;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1/1;
        content: none;

        &:hover {
            background-color: $third-color;
            cursor: pointer;
        }

        svg {
            margin: auto;
            color: #fff;
        }


    }

    div.modal-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 50;

        &.active {
            display: flex;
        }

        div.modal {
            background-color: $fourth-color;
            border-radius: 8px;
            padding: 24px;
            position: relative;
            max-width: 400px;
            width: 100%;
            max-height: 80vh;
            overflow-y: auto;
            border: $third-color 3px solid;

            button.close {
                // display: none;
                position: absolute;
                top: 8px;
                right: 8px;
                background: none;
                border: none;
                color: $third-color;
                cursor: pointer;
                z-index: 10;
                border-radius: 50%;
                padding: 0.25rem;
                width: 40px;
                aspect-ratio: 1/1;

                svg {
                    margin: auto;
                }

                &:hover {
                    color: #fff;
                    background-color: $third-color;
                }
            }

            ul.modal {
                list-style: none;
                margin: 0;
                margin-top: 1rem;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    a {
                        text-decoration: none;
                        color: #000;
                        display: block;
                        padding: 0.5rem;
                        border-radius: 4px;
                    }

                    &:hover {
                        color: #f0f0f0;
                    }
                }
            }
        }
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        gap: 1rem;
        font-size: 1rem;
        margin-right: 1rem;

        a {
            padding: 0.5rem;
            text-decoration: none;
            color: #fff;
            border-radius: 1rem;

            &:hover {
                background: $third-color;
                color: #fff;
            }
        }
    }
}

body {
    margin: 0;
    height: 100%;

    main {

        // display: grid;
        // grid-template-columns: 1fr 1fr;
        section {
            padding: 3rem 0;

            &.bg1 {
                background-image: url(./img/background.png);
            }

            &.bg2 {
                background-image: url(./img/background2.png);
            }

            &#carouselbg {
                width: 100vw;
                height: 100%;

                #carousel {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    position: relative;
                    width: 100vw;
                    max-width: 800px;
                    margin: 0 auto;
                    overflow: hidden;
                    height: 350px;

                    .carousel-container {
                        display: flex;
                        width: 100%;

                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        /* 圖片自適應容器 */
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;
                        /* 淡入淡出效果 */
                    }

                    img.active {
                        opacity: 1;
                        z-index: 1;
                    }

                    .carousel-btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(108, 0, 0, 0.7);
                        /* 主色深紅色 */
                        color: #fff;
                        border: none;
                        padding: 10px;
                        cursor: pointer;
                        z-index: 2;
                        font-size: 1.5rem;
                        border-radius: 4px;
                    }

                    .carousel-btn.prev {
                        left: 10px;
                    }

                    .carousel-btn.next {
                        right: 10px;
                    }

                    .carousel-btn:hover {
                        background-color: $third-color;
                    }

                }
            }

            &#concept {
                grid-column-start: 1;
                grid-column-end: 3;
                padding: 1rem;

                p {
                    line-height: 2.5rem;
                }
            }

            &#design-detail {
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: $main-color;
                color: #fff;

                h3 {
                    color: #fff;
                }

                div.container {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 1rem;

                    div.card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 1rem;
                        color: #fff;
                        margin: 0 0.5rem;
                        padding: 1rem;
                        background-image: url(/img/background3.jpg);
                        // filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
                        // clip-path: inset(1rem);
                        // filter: blur(20px);
                        .title {
                            font-size: 1.25rem;
                            padding: 1.5rem;
                            font-weight: 600;
                            position: relative;
                            z-index: 3;
                        }

                        svg {
                            margin-bottom: 1rem;
                            width: 30px;
                            height: 30px;
                        }
                    }

                    div.c1 {
                        background-color: rgb(255, 247, 223, 0.8);
                    }

                    div.c2 {
                        background-color: rgb(255, 223, 223);
                    }

                    div.c3 {
                        background-color: rgb(218, 255, 242);
                    }
                }
            }

            &#design-architecture {
                grid-column-start: 1;
                grid-column-end: 3;
                background-image: url(/img/background.png);
                display: grid;
                grid-template-columns: 1fr 6fr;
                grid-template-rows: 1fr 1fr;
                // width: 80vw;
                justify-content: center;

                h3 {
                    grid-row: 1/3;
                    grid-column: 1/2;
                    -webkit-writing-mode: vertical-lr;
                    writing-mode: vertical-lr;
                    place-self: center center;
                    letter-spacing: 1rem;
                }

                .ar1 {
                    grid-row: 1/2;
                    grid-column: 2/8;
                }

                .ar2 {
                    grid-row: 2/3;
                    grid-column: 2/8;
                }

                .ar {
                    display: flex;
                    align-items: center;
                    // flex-direction: column;
                    gap: 1rem;

                    p {
                        line-height: 2.5rem;
                    }

                    img {
                        aspect-ratio: 4/3;
                        object-fit: contain;
                    }
                }
            }

            &#exhibition {
                div.container {
                    grid-column: 1 / 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 0.5rem;

                    div.title {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .theme-toggle {
                            background: none;
                            border: 2px solid $main-color;
                            padding: 0.5rem;
                            cursor: pointer;
                            border-radius: 16%;
                            padding: 0 2rem;
                            display: flex;
                            align-items: center;
                            color: var(--text-color);

                            .east {
                                display: block;
                            }

                            .west {
                                display: none;
                            }

                            &[data-theme="west"] {
                                .east {
                                    display: none;
                                }

                                .west {
                                    display: block;
                                }
                            }

                            &:hover {
                                background: $third-color;
                                color: #fff;
                            }
                        }
                    }

                    div.swipe-container {
                        display: flex;
                        justify-content: space-evenly;
                        gap: 2rem;
                        // width: 60vw;

                        div.swiper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            div.card {
                                margin: 1rem 0;
                                display: flex;
                                flex-direction: column;
                                border-radius: 1rem;
                                border: $third-color thick solid;
                                width: 350px;

                                div.text {
                                    order: 2;
                                    grid-column: 1 / 2;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 1rem;

                                    h4 {
                                        font-size: 1.2rem;
                                        color: $main-color;
                                        text-align: center;
                                    }
                                    span { 
                                        color: $second-color;
                                    }
                                }

                                div.image {
                                    order: 1;
                                    grid-column: 2 / 3;

                                    img {
                                        width: 100%;
                                        aspect-ratio: 16/9;
                                        object-fit: cover;
                                        border-top-right-radius: 0.5rem;
                                        border-top-left-radius: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#events {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(./img/background2.png);
                width: 100%;
                img{
                    width: 350px;
                    
                }
            }

            &#about {
                grid-column-start: 1;
                grid-column-end: 3;

                div.container {
                    background-color: $main-color;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 1rem;
                    padding: 2rem 1rem;

                    div.profile-card {
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: $third-color 2px dashed;
                        border-radius: 1rem;
                    }
                }

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    border: #ffffff 2px solid;

                    margin: 1rem 0;
                }

                .title {
                    margin-bottom: 1rem;
                    color: $main-color;

                    span {
                        padding-left: 0.7rem;
                        color: $second-color;
                    }
                }
            }

            h3 {
                font-size: 1.5rem;
                color: $second-color;
                margin-bottom: 1rem;
                text-align: center;
            }
        }

        @media screen and (max-width: 600px) {
            section#carousel {
                height: 250px;
            }

            section#carousel .carousel-btn {
                padding: 8px;
                font-size: 1.2rem;
            }

            section#exhibition {
                div.container {
                    div.swipe-container {
                        flex-direction: column;
                        width: 100%;

                        div.west {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }

            section#design-architecture {
                display: flex;
                flex-direction: column;

                h3 {
                    -webkit-writing-mode: horizontal-tb;
                    writing-mode: horizontal-tb;
                }

                div.ar {
                    display: flex;
                    flex-direction: column;
                    margin: 0 1rem;
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        width: 100%;
        color: #898989
    }

    div.footer {
        color: #6f6f6f;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        ul {
            display: none;
        }

        button.menu {
            display: inline-block;
        }
    }
}

@import "label";