@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", "Source Sans Pro", sans-serif;
}
nav{
    background-color: rgb(108, 0, 0);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    h1{
        width: 100%;
    }
    ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        gap: 1rem;
        font-size: 1rem;
        margin-right: 1rem;
        a{
            padding: 0.5rem;
            text-decoration: none;
            color: #fff;
            border-radius: 1rem;
            &:hover{
                background: #012d31;
                color: #fff;
            }
        }
    }
}
body{
    margin: 0;
    height: 100%;
    // background-image: 
    //   linear-gradient(
    //     190deg,
    //     rgba(201, 201, 201, 0.1),
    //     rgba(85, 85, 85, 0.4)
    //   );
    section{
        padding: 1rem;
        h3{
            margin-bottom: 1rem;
        }
    }
}